@import "_vendor";
@import "_theme";



html, body {
  width: 100%;
  height: 100%;
  background-color: $app-primary;
  font: $app-font;
  color: $app-font-color;
}



.red-font {
  color: $app-error;
}

.italic-font {
  font-style: italic;
}

.bold-font {
  font-weight: bold;
  color: $app-black;
}
